




<div class="containerofcars">
        <div class="cardCar">

        <div class="imgProfile">
            <img id="PictureProfile" src="~/Content/beautiful-car-background.jpeg" alt="John">
        </div>
        <hr />
       
        <div class="groupOfInput">
            <p class="textCar"> Model:</p>
           <input type="text" class="css-input" readonly value="Honda" />
        </div>
        <div class="groupOfInput">
            <p class="textCar"> Color:</p>
            <input type="text" class="css-input" readonly value="Yellow" />
        </div>
        <div class="groupOfInput">
            <p class="textCar"> Gear:</p>
            <input type="text" class="css-input" readonly value="Manual" />
        </div>
            <div class="groupOfInput">
                <p class="textCar"> Year:</p>
                <input type="text" class="css-input" readonly value="1992" />
            </div>
            <div class="groupOfInput">
                <p class="textCar"> Engine:</p>
                <input type="text" class="css-input" readonly value="Honda" />
            </div>

            <div class="groupOfInput">
                <p class="textCar"> Amount:</p>
                <input type="text" class="css-input" readonly value="10000" />
            </div>

        <div class="groupOfInput">
            <p class="textCar"> Price:</p>
            <input type="text" class="css-input" readonly value="10000" />
        </div>
     
         
    
        <button class="cardcarButton" type="submit" id="button" >Buy</button>
    </div>
 

</div>