
@{
    ViewBag.Title = "CarTrade";
}

<section class="contentForum">
    <ol id="posts-list" class="hfeed">
        <li>
            <article class="hentry">
                <h2 id="subjectMessage" class="entry-title">sadada</h2>
              
                    
                        <div class="deleteButtonForum">
                            <a class="deleteA" style="font-size:15px;"> Delete</a>
                        </div>
              
                <footer class="post-info">
                    <div class=""></div>
                    <address class="vcard author">
                        By <a class="url fn" href="#">sdas</a>
                    </address>
                </footer><!-- /.post-info -->
                <div class="entry-content">
                    <p>sdada</p>
                </div><!-- /.entry-content -->

            </article>
        </li>
    </ol>
    <ol id="posts-list" class="hfeed">
        <li>
            <article class="hentry">
                <h2 id="subjectMessage" class="entry-title">sadada</h2>


                <div class="deleteButtonForum">
                    <a class="deleteA" style="font-size:15px;"> Delete</a>
                </div>

                <footer class="post-info">
                 
                    <address class="vcard author">
                        By <a class="url fn" href="#">sdas</a>
                    </address>
                </footer><!-- /.post-info -->
                <div class="entry-content">
                    <p>sdada</p>
                </div><!-- /.entry-content -->

            </article>
        </li>
    </ol>
</section>


