
@{
    ViewBag.Title = "CarTrade";
}
<a class="sellcarbutton" onclick="location.href='@Url.Action("PostCar", "home")'">Sell your car</a>
<section class="contentcarTrade">
    <ol id="posts-list" class="hfeed">
       
        <li>
            <article class="hentry">
                <h2 id="subjectMessage" class="entry-title">Model:Mercedes</h2>
                <div class="WraptextTrade">
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> Year:</p>
                        <input type="text" class="inputtradetxt" readonly value="Nadav" />
                    </div>
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> EngineCapcity:</p>
                        <input type="text" class="inputtradetxt" readonly value="Nadav" />
                    </div>
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> Gear:</p>
                        <input type="text" class="inputtradetxt" readonly value="Nadav" />
                    </div>
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> Color:</p>
                        <input type="text" class="inputtradetxt" readonly value="Nadav" />
                    </div>
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> Price:</p>
                        <input type="text" class="inputtradetxt" readonly value="Nadav" />
                    </div>
                    <div class="Wrapbuyanddelete">
                        <div class="deleteButtontrade ">
                            <a class="deleteA" style="font-size:15px;"> Delete</a>
                        </div>
                        <div class="BuyButtonTrade">
                            <a class="buyA" style="font-size:15px;"> Buy</a>
                        </div>
                    </div>
                 
                </div>

                <footer class="post-info">

                    <address class="vcard author">
                        By <a class="url fn" href="#">UserName</a>
                        <div class="carimagetrade">
                            <img id="picture" src="~/Content/CarsPictures/audi.jpg" alt="John">
                        </div>
                    </address>
                </footer><!-- /.post-info -->


            </article>
        </li>

        <li>
            <article class="hentry">
                <h2 id="subjectMessage" class="entry-title">Model:Mercedes</h2>
                <div class="WraptextTrade">
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> Year:</p>
                        <input type="text" class="inputtradetxt" readonly value="Nadav" />
                    </div>
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> EngineCapcity:</p>
                        <input type="text" class="inputtradetxt" readonly value="Nadav" />
                    </div>
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> Gear:</p>
                        <input type="text" class="inputtradetxt" readonly value="Nadav" />
                    </div>
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> Color:</p>
                        <input type="text" class="inputtradetxt" readonly value="Nadav" />
                    </div>
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> Price:</p>
                        <input type="text" class="inputtradetxt" readonly value="Nadav" />
                    </div>
                    <div class="Wrapbuyanddelete">
                        <div class="deleteButtontrade ">
                            <a class="deleteA" style="font-size:15px;"> Delete</a>
                        </div>
                        <div class="BuyButtonTrade">
                            <a class="buyA" style="font-size:15px;"> Buy</a>
                        </div>
                    </div>

                </div>

                <footer class="post-info">

                    <address class="vcard author">
                        By <a class="url fn" href="#">UserName</a>
                        <div class="carimagetrade">
                            <img id="picture" src="~/Content/CarsPictures/audi.jpg" alt="John">
                        </div>
                    </address>
                </footer><!-- /.post-info -->


            </article>
        </li>

        <li>
            <article class="hentry">
                <h2 id="subjectMessage" class="entry-title">Model:Mercedes</h2>
                <div class="WraptextTrade">
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> Year:</p>
                        <input type="text" class="inputtradetxt" readonly value="Nadav" />
                    </div>
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> EngineCapcity:</p>
                        <input type="text" class="inputtradetxt" readonly value="Nadav" />
                    </div>
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> Gear:</p>
                        <input type="text" class="inputtradetxt" readonly value="Nadav" />
                    </div>
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> Color:</p>
                        <input type="text" class="inputtradetxt" readonly value="Nadav" />
                    </div>
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> Price:</p>
                        <input type="text" class="inputtradetxt" readonly value="Nadav" />
                    </div>
                    <div class="Wrapbuyanddelete">
                        <div class="deleteButtontrade ">
                            <a class="deleteA" style="font-size:15px;"> Delete</a>
                        </div>
                        <div class="BuyButtonTrade">
                            <a class="buyA" style="font-size:15px;"> Buy</a>
                        </div>
                    </div>

                </div>

                <footer class="post-info">

                    <address class="vcard author">
                        By <a class="url fn" href="#">UserName</a>
                        <div class="carimagetrade">
                            <img id="picture" src="~/Content/CarsPictures/audi.jpg" alt="John">
                        </div>
                    </address>
                </footer><!-- /.post-info -->


            </article>
        </li>

        <li>
            <article class="hentry">
                <h2 id="subjectMessage" class="entry-title">Model:Mercedes</h2>
                <div class="WraptextTrade">
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> Year:</p>
                        <input type="text" class="inputtradetxt" readonly value="Nadav" />
                    </div>
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> EngineCapcity:</p>
                        <input type="text" class="inputtradetxt" readonly value="Nadav" />
                    </div>
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> Gear:</p>
                        <input type="text" class="inputtradetxt" readonly value="Nadav" />
                    </div>
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> Color:</p>
                        <input type="text" class="inputtradetxt" readonly value="Nadav" />
                    </div>
                    <div class="groupOfInput inputtrade">
                        <p class="texttradeinput"> Price:</p>
                        <input type="text" class="inputtradetxt" readonly value="Nadav" />
                    </div>
                    <div class="Wrapbuyanddelete">
                        <div class="deleteButtontrade ">
                            <a class="deleteA" style="font-size:15px;"> Delete</a>
                        </div>
                        <div class="BuyButtonTrade">
                            <a class="buyA" style="font-size:15px;"> Buy</a>
                        </div>
                    </div>

                </div>

                <footer class="post-info">

                    <address class="vcard author">
                        By <a class="url fn" href="#">UserName</a>
                        <div class="carimagetrade">
                            <img id="picture" src="~/Content/CarsPictures/audi.jpg" alt="John">
                        </div>
                    </address>
                </footer><!-- /.post-info -->


            </article>
        </li>
    </ol>

</section>

