
@{
    ViewBag.Title = "ControlPanel";
}

<h2>ControlPanel</h2>




    <div class="simple-panel">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel-head u-upper">
                    <h4>Control panel Admin</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <thead>
                        <tr style="background-color: #eee;font-size:18px;">
                            <th class="u-center">Username</th>
                            <th class="u-center">First Name</th>
                            <th class="u-center">Last Name</th>
                            <th class="u-center">Email</th>
                            <th class="u-center">Admin/User</th>
                            <th class="u-center">Update!</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:15px;">
                        <tr>
                            <td><p>nade1073</p></td>
                            <td><p>Nadav</p></td>
                            <td><p>Shalev</p></td>
                            <td><p>nade1073@gmail.com</p></td> 
                            <td class="checkBoxAdmin">
                                <input type="checkbox" />
                            </td>
                            <td class="u-center"><p><a class="UpdateInControlPanel" href="#">Update</a></p></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

