

<h3 style="text-align:center;color:white;">Forum</h3>
<script>
    $(document).ready(function () {
     
        $('.hover').hover(function () {
            $(this).addClass('flip');
        }, function () {
            $(this).removeClass('flip');
        });
    });
    function LuxuryView()
    {
        alert("nadav ya zain");
    }
    


</script>

<link href='https://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>

<div class="ForumWarpper">
    <div class="col_third">
        <div id="Luxury" class="hover panel" onclick="location.href='@Url.Action("SearchConsultants","Home")'">
            <div class="front">
                <div class="box1">
                    <p class="front_side">Luxury Forum car</p>
                </div>
            </div>
            <div class="back">
                <div class="box2">
                    <p class="back_side">Here you talk about luxury cars</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col_third">
        <div id="Sport" class="hover panel" onclick="SportsCar();">
            <div class="front">
                <div class="box1">
                    <p class="front_side">Sport Cars</p>
                </div>
            </div>
            <div class="back">
                <div class="box2">
                    <p class="back_side">Here you walk about sports car</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col_third">
        <div id="Question" class="hover panel" onclick="Question();">
            <div class="front">
                <div class="box1">
                    <p class="front_side">Question & Answer</p>
                </div>
            </div>
            <div class="back">
                <div class="box2">
                    <p class="back_side">Question and Answers about cars</p>
                </div>
            </div>
        </div>
    </div>

</div>