
@{
    ViewBag.Title = "PostCar";
}


<script>
    @{
        var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
        serializer.MaxJsonLength = Int32.MaxValue;
        var jsonModel = serializer.Serialize(ViewBag.CarUsers);
    }
        var carsArray = @Html.Raw(jsonModel);
        function FillFieldsAuto(car)
        {
            document.getElementById("Model").value = car.Model;
            document.getElementById('Model').readOnly = true;
            document.getElementById("Color").value = car.Color;
            document.getElementById('Color').readOnly = true;
            document.getElementById("Gear").value = car.Gear;
            document.getElementById('Gear').readOnly = true;
            document.getElementById("Year").value = car.Year;
            document.getElementById('Year').readOnly = true;
            document.getElementById("Engine").value = car.EngineCapacity;
            document.getElementById('Engine').readOnly = true;
            document.getElementById("Color").value = car.Color;
            document.getElementById('Color').readOnly = true;
            document.getElementById('Price').value = "0";
           
            
            document.getElementById('Price').readOnly = false;
            $('#PictureProfile').attr('src',"data:image;base64,"+car.Picture);
        }
        function ResetFields()
        {
            $(".css-input").each(function() {
                $(this).val("");
                $(this).prop('readonly', false);
                $('#PictureProfile').attr('src',null);
                       
            });
            document.getElementById("UniqueId").value = 0;
            $( ".carProfile" ).after( "<a id=uploadico class=ico></a>" );
        }
        $(function () {
            $('select').on('change', function () {
                var lenthofarray=carsArray.length;
                var indexofselectedcombox=this.selectedIndex;
                if(lenthofarray!=indexofselectedcombox)
                {
                    $('#uploadico').replaceWith(" <a id=uploadico ></a>");
                    FillFieldsAuto(carsArray[indexofselectedcombox]);
                    document.getElementById("UniqueId").value = carsArray[indexofselectedcombox].UniqueID;
                }
                else
                {
                    ResetFields();
                    document.getElementById("UniqueId").value = 0;
                }

            });
          
            $(document).on('click', '.ico', function(e) {
                $('#file').click();

            });
            $("#file").change(function () 
            {
                if (this.files && this.files[0])
                {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded;
                    reader.readAsDataURL(this.files[0]);

                }
            }); 
            function imageIsLoaded(e)
            {

                $('#PictureProfile').attr('src', e.target.result);
            };
           
    
        });
        window.onload=ResetFields;   
</script>
<script>
    function FormValidate()
    {
           
        var model = document.getElementById("Model").value;
        var color = document.getElementById("Color").value;
        var gear = document.getElementById("Gear").value;
        var year = document.getElementById("Year").value;
        var engine = document.getElementById("Engine").value;
        var price = document.getElementById("Price").value;
       
        if (model == "" || color == "" || gear == "" || year == "" || engine == "" || price == "")
        {
            alert("Please fill all of the fields");
            return false;
        }
        if (!(/^[a-zA-Z]+$/.test(model))) {
            alert("Please check the Errors");
            return false;
        }

        if (!(/^[a-zA-Z]+$/.test(color))) {
            alert("Please check the Errors");
            return false;
        }
        if (!(/^[a-zA-Z]+$/.test(gear))) {
            alert("Please check the Errors");
            return false;
        }
        if (isNaN(year))
        {
            alert("Please check the Errors");
            return false;
        }
        if (isNaN(engine))
        {
            alert("Please check the Errors");
            return false;
        }
        if (isNaN(price) || price<=0)
        {
            alert("Please check the Errors");
            return false;
        }
       
        if(document.getElementById("UniqueId").value == 0)
        {
            if (document.getElementById("file").files.length == 0)
            {
          
                alert("UploadPicture");
                return false;
            }
        }
    }
    $(function () {
   
        $('#Model').on('input', function (e) {
            var value = $(this).val();
            if (value.length === 0) {

                $('#modelError').replaceWith("<p id=modelError class=msgError>Error:Field is required. </p>");
            }

            else if (!(value.match(/^[a-zA-Z()]*$/))) {
                $('#modelError').replaceWith("<p id=modelError class=msgError>Error:Only Charcters are accepted. </p>");

            }
            else {
                $('#modelError').replaceWith("<p id=modelError ></p>");
            }
        });
        $('#Color').on('input', function (e) {
            var value = $(this).val();
            if (value.length === 0) {

                $('#colorError').replaceWith("<p id=colorError class=msgError>Error:Field is required. </p>");
            }

            else if (!(value.match(/^[a-zA-Z()]*$/))) {
                $('#colorError').replaceWith("<p id=colorError class=msgError>Error:Only Charcters are accepted. </p>");

            }
            else {
                $('#colorError').replaceWith("<p id=colorError ></p>");
            }
        });
        $('#Gear').on('input', function (e) {
            var value = $(this).val();
            if (value.length === 0) {

                $('#gearError').replaceWith("<p id=gearError class=msgError>Error:Field is required. </p>");
            }

            else if (!(value.match(/^[a-zA-Z()]*$/))) {
                $('#gearError').replaceWith("<p id=gearError class=msgError>Error:Only Charcters are accepted. </p>");

            }
            else {
                $('#gearError').replaceWith("<p id=gearError ></p>");
            }
        });
        $('#Year').on('input', function (e) {
            var value = $(this).val();
            if (value.length === 0)
            {

                $('#yearError').replaceWith("<p id=yearError class=msgError>Error:Field is required. </p>");
            } 

            else if (!(value.match(/^\d+$/)))
            {
                $('#yearError').replaceWith("<p id=yearError class=msgError>Error:Only numbers are accepted. </p>");

            }
            else {
                $('#yearError').replaceWith("<p id=yearError ></p>");
            }
        });
        $('#Engine').on('input', function (e) {
            var value = $(this).val();
            if (value.length === 0)
            {

                $('#engineError').replaceWith("<p id=engineError class=msgError>Error:Field is required. </p>");
            } 

            else if (!(value.match(/^\d+$/)))
            {
                $('#engineError').replaceWith("<p id=engineError class=msgError>Error:Only numbers are accepted. </p>");

            }
            else {
                $('#engineError').replaceWith("<p id=engineError ></p>");
            }
        });
        $('#Price').on('input', function (e) {
            var value = $(this).val();
            if (value.length === 0)
            {

                $('#priceError').replaceWith("<p id=priceError class=msgError>Error:Field is required. </p>");
            } 

            else if (!(value.match(/^\d+$/)))
            {
                $('#priceError').replaceWith("<p id=priceError class=msgError>Error:Only numbers are accepted. </p>");

            }
            else if (value <=0)
            {
                $('#priceError').replaceWith("<p id=priceError class=msgError>Error:The amount can be only positive </p>");

            }
            else {
                $('#priceError').replaceWith("<p id=priceError ></p>");
            }
        });
    });

</script>

<section class="wrapSellCar">

  
    <div class="cardCar">
@using (Html.BeginForm("PostCar", "home", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return FormValidate()" }))
{
        @Html.AntiForgeryToken()

        <div class="carProfile">
            <img id="PictureProfile"  alt="UploadPicture">
        </div>
        <a id="uploadico" ></a>
        <hr />
        <div class="groupOfInput">
            <p class="textCar"> Model:</p>
            <input name="Model" id="Model" type="text" class="css-input" readonly placeholder="Fill this field" />
            <p id="modelError"></p>
        </div>
        <div class="groupOfInput">
            <p class="textCar"> Color:</p>
            <input name="Color" id="Color" type="text" class="css-input"  readonly placeholder="Fill this field" />
            <p id="colorError"></p>
        </div>
        <div class="groupOfInput">
            <p class="textCar"> Gear:</p>
            <input name="Gear" id="Gear" type="text" class="css-input" readonly placeholder="Fill this field" />
            <p id="gearError"></p>
        </div>
        <div class="groupOfInput">
            <p class="textCar"> Year:</p>
            <input name="Year" id="Year" type="text" class="css-input"  readonly placeholder="Fill this field" />
            <p id="yearError"></p>
        </div>
        <div class="groupOfInput">
            <p class="textCar"> Engine:</p>
            <input name="EngineCapacity" id="Engine" type="text" class="css-input"  readonly placeholder="Fill this field" />
            <p id="engineError"></p>
        </div>

        <div class="groupOfInput">
            <p class="textCar"> Price:</p>
            <input name="Price" id="Price" type="number" class="css-input" readonly placeholder="Fill this field" />
            <p id="priceError"></p>
        </div>
        <input name="UniqueId" id="UniqueId" type="text" hidden />

    <input type="file" name="file" id="file" accept="image/jpg,image/jpeg" style="display:none" />
        <button class="cardcarButton" type="submit" id="button">Sell!</button>
}
    </div>
  
    <div class="wrapperComboBox">
        <p>Choose a car from the list</p>
        <div class="select_style">
            <select value="selectcar" id="combobox"> Select Car!
                @foreach (var car in ViewBag.CarUsers)
                {
                    <option>@car.Model ID-@car.UniqueID</option>
                }
                <option selected="selected">other</option>
           
            </select>
            <span></span>
        </div>
    </div>
   
  
</section>
