
@{
    ViewBag.Title = "SportsForum";
}

<h2 style="text-align:center; color:#FFF;">Forum > Sports</h2>


<div class="ForumContainer">
    <div class="form">
        <input class="inputForum" id="email" type="text" >
        <textarea class="textareaForum" id="message" type="text" ></textarea>
        <hr class="style-two"/>
    </div>
    <div class="form">
        <input class="inputForum" id="email" type="text">
        <textarea class="textareaForum" id="message" type="text"></textarea>
        <hr class="style-two" />
    </div>

    <div class="form">
        <input class="inputForum" id="email" type="text">
        <textarea class="textareaForum" id="message" type="text"></textarea>
        <hr class="style-two" />
    </div>
    <div class="form">
        <input class="inputForum" id="email" type="text">
        <textarea class="textareaForum" id="message" type="text"></textarea>
        <hr class="style-two" />
    </div>

    <div class="form">
        <input class="inputForum" id="email" type="text">
        <textarea class="textareaForum" id="message" type="text"></textarea>
        <hr class="style-two" />
    </div>

    <div class="form">
        <input class="inputForum" id="email" type="text">
        <textarea class="textareaForum" id="message" type="text"></textarea>
        <hr class="style-two" />
    </div>

    <div class="form">
        <input class="inputForum" id="email" type="text">
        <textarea class="textareaForum" id="message" type="text"></textarea>
        <hr class="style-two" />
    </div>



    
</div>